## Muhammad Ikhsan Rahman Hakim || Batch 001 FTDS

**ps: catatan tambahan**

Import library

In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_excel(r"C:\Users\mistersunday\Documents\Hacktiv8\Live Code\NMC1-9.xlsx")

*Selalu usahakan liat data loading dulu. Dengan .info() dan .describe()*

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
time(s),90982.0,45490.500000,26264.385433,0.00000,22745.25000,45490.500000,68235.75000,90981.000000
V_m,90982.0,3.607666,0.322777,2.49700,3.42200,3.636000,3.86800,4.114000
Current (A),90982.0,0.999264,0.001997,0.99300,0.99700,0.999000,1.00100,1.003000
Cycle,90982.0,4.978699,2.582135,1.00000,3.00000,5.000000,7.00000,9.000000
Cap,90982.0,2.806214,0.023283,2.77018,2.78686,2.804878,2.82352,2.840817

Melihat 5 baris awalan dari tabel

In [10]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

### Keterangan Tabel
- time(s): Detik ke- pengukuran
- V_m: Voltage/tegangan yang terukur tiap waktu
- Current (A): Kuat arus terukur tiap waktu
- Cycle: Nomor siklus charge-discharge baterai
- Cap: Kapasitas baterai tiap waktu

### Soal
Hitung hambatan baterai tiap waktunya untuk cycle ganjil dan daya baterai tiap waktunya untuk cycle genap dari dataset dengan ketentuan sebagai berikut:

1. Gunakan function untuk menghitung hambatan dan daya
2. Harus menerapkan konsep looping, conditional if, dan pandas query

Mendefinisikan fungsi untuk masing-masing rumus

In [14]:
df['Cycle'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [26]:
def hambatan(V,I):
  "Rumus menghitung kapasitas baterai dalam satuan Ohm, R=V/I"
  return V/I

def daya(V,I):
  "Rumus menghitung daya, P=V*I"
  return V*I

### Menghitung Hambatan dan daya dari tiap baterai

In [ ]:
df['Hambatan'] = df.apply(lambda x: hambatan(x['V_m'], x['Current (A)']), axis=1)
df['Daya'] = df.apply(lambda x: daya(x['V_m'], x['Current (A)']), axis=1)
print(df)

       time(s)    V_m  Current (A)  Cycle       Cap  Hambatan      Daya
0            0  4.098        0.997      1  2.840817  4.110331  4.085706
1            1  4.096        0.998      1  2.840817  4.104208  4.087808
2            2  4.094        0.999      1  2.840817  4.098098  4.089906
3            3  4.093        0.998      1  2.840817  4.101202  4.084814
4            4  4.092        0.999      1  2.840817  4.096096  4.087908
...        ...    ...          ...    ...       ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.500998  2.511012
90978    90978  2.504        1.002      9  2.770180  2.499002  2.509008
90979    90979  2.502        1.002      9  2.770180  2.497006  2.507004
90980    90980  2.500        1.002      9  2.770180  2.495010  2.505000
90981    90981  2.497        1.002      9  2.770180  2.492016  2.501994

[90982 rows x 7 columns]

###Menghitung hambatan baterai tiap waktunya untuk cycle ganjil dan genap

In [ ]:
ganjil = df[['time(s)', 'V_m', 'Current (A)', 'Cycle', 'Cap', 'Hambatan']]
genap = df[['time(s)', 'V_m', 'Current (A)', 'Cycle', 'Cap', 'Daya']]

for i in df['Cycle']:
  if (i%2==0):
    print(genap)
  else:
    print(ganjil)

# After

In [40]:
resist = []
power = []
for cyc in df.Cycle.unique():
    V = df['V_m'][df['Cycle']==cyc]
    I = df['Current (A)'][df['Cycle']==cyc]
    if cyc%2 !=0:
        resist.append(hambatan(V,I))
    else:
        power.append(daya(V,I))

In [41]:
resist

[0        4.110331
 1        4.104208
 2        4.098098
 3        4.101202
 4        4.096096
            ...
 10232    2.513541
 10233    2.511535
 10234    2.509529
 10235    2.510040
 10236    2.505517
 Length: 10237, dtype: float64,
 20443    4.123370
 20444    4.118236
 20445    4.116232
 20446    4.119358
 20447    4.114228
            ...
 30613    2.504496
 30614    2.500000
 30615    2.498004
 30616    2.498501
 30617    2.501502
 Length: 10175, dtype: float64,
 40776    4.124373
 40777    4.114114
 40778    4.117234
 40779    4.112112
 40780    4.107000
            ...
 50878    2.514544
 50879    2.510020
 50880    2.510532
 50881    2.506012
 50882    2.504008
 Length: 10107, dtype: float64,
 60933    4.130653
 60934    4.129648
 60935    4.119358
 60936    4.118355
 60937    4.113226
            ...
 70969    2.501996
 70970    2.501499
 70971    2.502000
 70972    2.502503
 70973    2.503006
 Length: 10041, dtype: float64,
 81002    4.115115
 81003    4.110000
 81004    4.109000
 81005    4.102897
 81006    4.101898
            ...
 90977    2.500998
 90978    2.499002
 90979    2.497006
 90980    2.495010
 90981    2.492016
 Length: 9980, dtype: float64]

In [42]:
power

[10237    4.082223
 10238    4.089450
 10239    4.099784
 10240    4.102893
 10241    4.111107
            ...
 20438    2.509507
 20439    2.510010
 20440    2.505503
 20441    2.503501
 20442    2.499000
 Length: 10206, dtype: float64,
 30618    4.101658
 30619    4.087328
 30620    4.086334
 30621    4.097670
 30622    4.113109
            ...
 40771    2.502495
 40772    2.505503
 40773    2.503501
 40774    2.505000
 40775    2.502996
 Length: 10158, dtype: float64,
 50883    4.097670
 50884    4.099784
 50885    4.094679
 50886    4.092685
 50887    4.087584
            ...
 60928    2.513518
 60929    2.509008
 60930    2.504502
 60931    2.497500
 60932    2.492006
 Length: 10050, dtype: float64,
 70974    4.097544
 70975    4.091440
 70976    4.085340
 70977    4.092564
 70978    4.103892
            ...
 80997    2.508000
 80998    2.502495
 80999    2.500497
 81000    2.498499
 81001    2.499000
 Length: 10028, dtype: float64]